version: '3.1'
services:
  mumble:
    image: sudoforge/mumble-server:latest
    restart: always
    container_name: mumble
    ports:
      - '${TCPPORT}:64738/tcp'
      - '${UDPPORT}:64738/udp'
    expose:
      - 64738
    env_file:
      - .env
    volumes:
      - ./data:/data
 mumbleweb:
    image: tna76874/mumble-web
    container_name: mumbleweb
    environment:
      - MUMBLE_SERVER=mumble:64738
    ports:
      - 127.0.0.1:${WEBPORT}:8080
    restart: always
 websockify:
    image: efrecon/websockify
    container_name: websockify
    restart: always
    command: --ssl-target 64737 mumble:64738
    ports:
      - 127.0.0.1:64737:64737 
